.DS_Store
*.pyc
*~
#*
*.log
*.lot
*.aux
*.bbl
*.blg
*.out
paper/neurobiological_and_rl_overview_DMN.pdf
paper/neurobiological_overview_DMN.pdf
paper/rl.pdf
paper/rl2.pdf
paper/table_equivalence.pdf
paper/PLOS-submission-eps-converted-to.pdf
paper/paper.pdf